<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <link rel="stylesheet" href="{{ "/assets/css/copy-code-button.css" | relative_url }}">
    <script src="{{ "/assets/js/copy-code-button.js" | relative_url }}"></script>
  </body>

</html>